
body {
font-family: 'NL', Arial;
margin: 0;
box-sizing: border-box;
overflow-x: hidden;
}
body * {
box-sizing: border-box;
}
@font-face{
  font-family:'NL';
  src: url('/L.woff2') format('woff2');
  font-weight:400;
  font-style:normal;
  font-display: swap;
}
@font-face{
  font-family:'NB';
  src: url('/nbold.woff2') format('woff2');
  font-weight:700;
  font-style:normal;
  font-display: swap;
}



h1 {
    font-family: 'NB', sans-serif;
    font-size: clamp(32px, 5.5vw, 64px);
    line-height: clamp(42px, 6.5vw, 84px); 
    font-weight: 500;
    margin: 0;
    orphans: 3;
}

h2 {
    font-family: 'NB', sans-serif;
    font-size: clamp(24px, 4.5vw, 48px);
    line-height: clamp(34px, 5.2vw, 60px);
    font-style: normal;
    font-weight: 700;
    orphans: 3;
    widows: 2;
}

h3 {
    color: #2B354E;
    font-family: 'NB', sans-serif;
    font-size: clamp(20px, 3.8vw, 36px);
    line-height: clamp(28px, 4.8vw, 42px);
    font-style: normal;
    font-weight: 400;
    margin: 0;
    orphans: 3;
}

h4 {
    font-family: 'NB', sans-serif;
    font-size: clamp(18px, 3.5vw, 22px);
    line-height: clamp(22px, 4.5vw, 28px);
    font-style: normal;
    font-weight: 400;
    margin: 0;
    orphans: 3;
}

.span {
    color: #375E74;
}

p {
    color: #2B354E; ;
    font-family: 'NL', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 134%;
    orphans: 3;
    widows: 2;    
}
p b { 
    font-family: 'NB', sans-serif;
    font-weight: 300;
}

h6{
    color: #375E74;
    font-family: "NL", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 142.857% */
    margin: 0;
    orphans: 3;
    widows: 2;
}


a {
color: #2B354E;
text-decoration: none;
}
img {
max-width: 100%;
}
.menu {
min-height: 20vh;
}
.left {
position: absolute;
left: 12.5%;
top: 24px;
}
.nav {
position: absolute;
left: 30%;
top: 28px;
font-size: 22px;
}
.nav a {
padding-right: 32px;
}
.navdservices {
position: absolute;
background-color: #2B354E;
border: 2px solid #f2f2f2;
padding: 15px;
display: none;
}
.navdservices a {
width: 100%;
display: block;
line-height: 33px;
color: #fff;
}
#navservices:hover + .navdservices, .navdservices:hover {
display: block !important;
}

.bold.dpin img {
max-width: 25px;
}
.section.contact {
padding: 64px 12.5% 64px;
margin: 0;
width: 100%;
background-color: white;
}
.section.contact h2 {
font-size: 55px;
color: #2B354E;
}
.section.contact, .section.contact a {
color: #2B354E;
}
form {
display: block;
text-align: center;
}
input {
width: 80%;
border: 0;
height: 48px;
color: black;
opacity: 1;
font-family: 'Open Sans', Arial;
font-size: 24px;
border-bottom: 1px solid black;
margin-bottom: 6px;
-webkit-appearance: none;
appearance: none;
background-color: transparent;
}
input[type="submit"] {
-webkit-appearance: none !important;
-moz-appearance: none !important;
appearance: none !important;
background-color: #f2f2f2 !important;
}
.section.footer {
background-color: black;
padding: 4% 12.5%;
margin: 0;
width: 100%;
}
.section.footer p, .section.footer a {
width: 100%;
display: block;
margin-top: 0;
margin-bottom: 5px;
color: #fff;
font-family: 'Open Sans', Arial;
}
.section.footer a p.bold {
font-size: 26px;
}
.section.footer .col-12 {
margin-top: 24px;
}
@media screen and (min-width: 901px) {
.m {
display: none;
}

.right {
position: absolute;
right: 5%;
top: 0;
}
}
@media screen and (max-width: 900px) {

.d {
display: none;
}

.right {
position: absolute;
right: 24px;
top: 24px;
}

form {
text-align: left;
}
input {
width: 100%;
}
.section.footer .col-3 {
margin-bottom: 18px;
}
.section.contact .col-6 {
margin-bottom: 48px;
}
}







.button {
    background-color: #6DA9C6;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'NL', sans-serif;
    font-size: clamp(14px, 3vw, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    padding: clamp(12px, 3vw, 16px) clamp(20px, 4vw, 36px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.button-2 {
    color: #2B354E;
    border-radius: 14px;
    border: 2px solid #CAD5E2;
    cursor: pointer;
    font-family: 'NB', sans-serif;
    font-size: clamp(14px, 3vw, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    padding: clamp(8px, 2vw, 10px) clamp(20px, 4vw, 36px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}   

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}